body{background-image:url(../images/bodybg.gif);}
#header{background-image:url(../images/bg.gif);
background-repeat:no-repeat;}
#logo{margin-left:100px;
      margin-top:25px;}
#nav{background-image:url(../images/nav.jpg);
height:30px;
}
#nav_content{width:800px;
font-weight:2em;
font-color:#fff;
float:left;
position:absolute;

margin-left:330px;
margin-top:5px;}
a:hover{color:#f8f5ee;
text-decoration:underline;}
a:link{color:#522a06;
text-decoration:none;}
.a1{height:40px;
padding:5px 5px ;
margin-top:9px;
color:white;

}
#nav_search{width:190px;
margin-left:1050px;
position:absolute;
margin-top:5px;
height:21px;}
#t1{width:140px;
height:16px;
background-color:#f8f5ee;
float:left;}
#b1{width:44px;
height:21px;
background-color:#000;
color:#fff;
border:1px solid #f8f5ee;
float:left;}
#d1{margin-left:350px;
margin-top:10px;}
#left{margin-left:330px;
float:left;}
#top{width:278px;
height:250px;
background-image:url(../images/bg.png);}
ul{list-style:none;
margin-left:20px;}
#z1{background-image:url(../images/menubg.gif);
background-repeat:no-repeat;
margin-left:20px;
height:20px;}
#middle{background-image:url(../images/bg.png);
width:278px;
height:200px;
margin-top:10px;}
#u1{margin-left:15px;}
#bottom{background-image:url(../images/ad2.jpg);
width:278px;
height:80px;
margin-top:10px;}
#right{width:600px;
margin-left:620px;}
#r1{height:30px;
background-image:url(../images/bg.png);}
#content{width:900px;
height:550px;}
#r2{float:left;}
#r3{float:right;}
#s1{border:1px solid black;
width:10px;}
#s0{width:200px;
margin-left:200px;}
#footer{height:105px;
   margin-left:330px;
   width:900px;
 
   
background-image:url(../images/foot.gif);}
#o1{margin-left:280px;
margin-top:10px;}
#o3{margin-left:280px;}
a{color:#844004;}
