*{padding:0px;margin:0px;}
#body{width:1000px;
	height:700px;
	border:2px solid black;
	background-color:#ea68a2;
}
.a{width:980px;
	height:200px;
	border:1px solid red;
	background-color:blue;
	margin-left:10px;
}
.a1{width:960px;height:195px;
	border:1px solid red;
	margin-left:10px;
	float:left;
}
.a2{width:200px;height:40px;
	border:1px solid red;
	background-color:#A6FFA6;
	float:left;
}
.a3{width:756px;height:40px;
	border:1px solid red;
	background-color:#FFFF99;
	float:left;
}
.a4{width:960px;height:150px;
	border:1px solid red;		
	background-color:#00cc00;
	float:left;
}
.b{width:980px;
	height:350px;
	border:1px solid red;
	background-color:#000079;
	margin-left:10px;
}
.b1{width:960px;
	height:300px;
	border:1px solid red;
	margin:5px 10px 10px 10px;
	float:left;
}
.b2{width:479px;
	height:330px;
	border:1px solid red;
	background-color:green;
	float:left;
}
.b3{width:476px;
	height:330px;
	border:1px solid red;
	background-color:yellow;
	float:left;
}
.c{width:980px;
	height:125px;
	border:1px solid red;
	background-color:#FFCC33;
	margin-left:10px;
}
